node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
out
**/out
.turbo
.git
.gradle
coverage
*.log
apps/launcher/release
minecraft/servers/**/world
minecraft/servers/**/logs
minecraft/servers/**/cache
minecraft/servers/**/libraries
minecraft/servers/**/versions
